.btn{
    display: block;
    margin:1rem auto
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color : white;
}
.msg  p {
    display: inline;
}
.msg{
    color: white;
    text-align: center;
    margin: 1rem
}
.msg a {
    text-decoration: none;
    color : green;
}
.msg a:hover {
    cursor: pointer;
}
.root {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
}
.remember{
    text-align: center;
}
.remember p {
display: inline;
padding-left: 5%;
}