.back {
  background-color: red;
}
.back:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0);
   
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
}
.Main {
  color: white;
  margin-top: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
