.fieldinput {
  padding-left: 1rem;
  height: 1.7rem;
  box-sizing: border-box;
  border-radius:  5px;
  border: 0.1rem solid black;
  display: block;
  margin: auto;
  width: 50%;
}
.fieldinput:focus {
  outline: none;
  border : 0.1rem green solid;
}
.fieldlabel {
  display: block;
  text-align: center;
  margin: 1rem 0;
  color: white;
}
.msg{
    display: block;
    text-align: center;
    margin : 0.5rem 0 ;
    color: red;
}
.field{
  z-index: 1;
}