.customer {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
.customer p {
    padding-left: 0.5rem;
}
.btn{
    display: block;
    margin:1rem auto
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color : white;
}
.root {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
}